VITE_TARGET=web                # web | app
VITE_ADS_ENABLED=true
VITE_ADMOB_APP_ID_IOS=
VITE_ADMOB_APP_ID_ANDROID=
VITE_ADMOB_BANNER_RESULT=
VITE_ADMOB_INTERSTITIAL_TO_RESULT=
VITE_ADFIT_UNIT_RESULT=
VITE_REVENUECAT_KEY_IOS=
VITE_REVENUECAT_KEY_ANDROID=
